<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <table>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Contact</th>
            <th>Mail Contact</th>
            <th>Email Contact</th>
            <% contactList.forEach((contact)=>{%>
                <tr>
                    <td><%=contact.prefix%> <%=contact.firstName%> <%=contact.lastName%></td>
                    <td> <%=contact.street%>, <%=contact.city%>, <%=contact.state%> <%=contact.zipCode%></td>
                    <%if(typeof contact.phoneCon != "undefined" || typeof contact.anyCon != "undefined"){ %>
                        <td> <%=contact.phoneNum%> </td>
                    <%} else {%>
                        <td> No </td>
                    <%}%>
                    <%if(typeof contact.mailCon != "undefined" || typeof contact.anyCon != "undefined"){ %>
                        <td> <%=contact.street%>, <%=contact.city%>, <%=contact.state%> <%=contact.zipCode%> </td>
                    <%} else {%>
                        <td> No </td>
                    <%}%>
                    <%if(typeof contact.emailCon != "undefined" || typeof contact.anyCon != "undefined"){ %>
                        <td> <%=contact.emailAddr%> </td>
                    <%} else {%>
                        <td> No </td>
                    <%}%>
                </tr>
             <% });%>
        </table>
    </body>
</html>