<!DOCTYPE html>
<html>
    <head>

    <style>
        p{
            display:inline;
        }
    </style>
    </head>
    <body>
        <p>Contact Information Submitted</p> <br>
        <p>Name: <%=prefix%> <%=firstName%> <%=lastName%> </p> <br>
        <p>Address: <%=street%>, <%=city%>, <%=state%> <%=zipCode%></p> <br>
        <p>Contact by Phone: </p>
         <% if(typeof phoneCon != "undefined" || typeof anyCon != "undefined"){ %>
            <p> <%=phoneNum%></p>
            <%}
            else{%>
                <p>No</p>
                <%}%>
        <br>
        <p>Contact by Mail: </p>
         <% if(typeof mailCon != "undefined" || typeof anyCon != "undefined"){ %>
            <p><%=street%>, <%=city%>, <%=state%> <%=zipCode%></p>
            <%}
            else{%>
                <p>No</p>
                <%}%>
        <br>
        <p>Contact by Email: </p>
         <% if(typeof emailCon != "undefined" || typeof anyCon != "undefined"){ %>
            <p> <%=emailAddr%></p>
            <%}
            else{%>
                <p>No</p>
                <%}%>
        <br>
        <a href = "/contacts">Contact List</a>
    </body>
</html>